.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}
body{
    background-color: darkgrey;
    padding: 3rem;
}
nav {
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    padding: 0.5em;
    margin: 0 20px;
}
.navlink {
    font-size: 1em;
    margin: 0 20px;
    border: 2px solid rgb(14, 0, 0);
    padding: 0.5em;
    background-color: aliceblue;
}
