.row {
    display: flex;
    justify-content: center;
}

.imageFigure {
    text-align: center;
}

.personImg {
    width: 100%;
    height: auto;
    border-radius: 10%;
    border: 2px solid navy;

}

#justinimg {
    width: 75%;
    height: auto;
}

h1 {
    justify-content: center;
    display: flex;
    color: white;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.title-div{
    display: flex;
    background-color: navy;
    justify-content: center;
}


nav {
    justify-content: center;
    display: flex;
    background-color:cornflowerblue;
    padding: 0.5em;
}

.navlink {
    margin: 0 20px;
    border: 2px solid navy;
    background-color:lightsteelblue;
    color: white;
    padding:0.5%;
}

.content {
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 10 vw;
}

body{
    background-color: lightsteelblue;
}
.footer{
    background-color: navy;
}

#programming-table{
    justify-content: center;
    display: flex;
}

#contact-us{
    justify-content: center;
    display: flex;
    color: white;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#contact-list{
    justify-content: center;
    display: flex;
    color: white;
    padding :2em;
}

.contact-info{
    padding:2em;
}

.navlink:hover{
    padding:1em;
}